# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  name: TestselfhostedPool

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- task: AzureCLI@2
  displayName: Azure CLI
  inputs:
    azureSubscription: SCFromPortalTODevops
    scriptType: pscore
    
      
- task: Docker@2
  inputs:      
      containerRegistry: 'Public ACR Service Connection'
      command: 'buildAndPush'
      Dockerfile: '**/Dockerfile'
      